$green: #45bfa4;
$gray: #E6E6E6;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container {
  background-image: url('./assets/maclaptop.jpg');
  background-size: cover;
  height: 500px;
  background-repeat: round;

  .nav {
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;

      &:hover{
        cursor: pointer;
        color: $green;
      }
    }
  }

  h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding-top: 85px;
  }

  h3 {
    text-align: center;
    color: white;
    margin-top: 15px;
  }

  .icons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      width: 40px;
      margin: 0px 7px;
    }
  }

  &.footer{
    background-image: url('./assets/footer-pic.jpg');
    text-align: center;

    .btn {
      margin-top: 30px;
    }
  }
}

.profile-pic {
  text-align: center;
  margin: -127px 0px;

  img {
    width: 250px;
  }
}

.title{
  font-size: 30px;
  text-transform: uppercase;
  color: $green;
}

.about-me {
  background-color: $gray;
  text-align: center;
  padding: 123px 55px 30px;

  h3 {
    color: $green;
    margin-top: 45px;
  }

  p {
    line-height: 23px;
  }
}


.section {
  text-align: center;
  background-color: white;
  padding: 40px 50px;

  &.bg-gray{
    background-color: $gray;

    .btn-secondary{
      background-color: white;
    }
  }

  p {
    margin: 40px 0;
  }

  .img-container {
    margin: 40px 20px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    img {
      width: 260px;
      margin: 8px;
    }
  }
}

.btn {
  background-color: $green ;
  font-size: 15px;
  padding: 10px 45px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 5px;
  border-radius: 10px;
  min-width: 100px;
  transition: all 0.3s;
  border: none;
  outline: none;

  a {
    text-decoration: none;
    color: white;
  }

  &-secondary{
    background-color: $gray ;

    a {
      color: black;
    }
  }

  &:hover{
    box-shadow: 0 5px 5px #00000040;
    transform: translateY(-5px);
  }
}
