:root {
  --dark: #212121;
  --dark-trasparent: #000000d0;
  --dark-greeen: #3a4a4975;
  --light: #cccccc;
  --light-trasparent: #ffffff90;
  --light-gray: #E6E6E6;
  --transition-duration: 1.0s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: var(--light);
  -webkit-transition: color var(--transition-duration);
  transition: color var(--transition-duration);
}

.container {
  background-image: url("./assets/maclaptop.jpg");
  background-size: cover;
  height: 500px;
  background-repeat: round;
  -webkit-transition: color var(--transition-duration);
  transition: color var(--transition-duration);
}

.container .nav {
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .nav a {
  color: var(--light);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.container .nav a:hover {
  cursor: pointer;
  color: #45bfa4;
}

.container .toggle {
  /*.label{
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      background: var(--light-gray);
      border-radius: 3rem;
      padding: .2rem;
      width: 3.1rem;
      font-size: 0.9rem;
      cursor: pointer;
      z-index: 1;
      transition: background 0.5s ease;
    }*/
}

.container .toggle .checkbox {
  display: none;
}

.container .toggle .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background: var(--light-gray);
  border-radius: 3rem;
  padding: .2rem;
  width: 3.1rem;
  font-size: 0.9rem;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.container .toggle .content .ball {
  position: absolute;
  top: 0.02rem;
  left: -0.6rem;
  height: 1.7rem;
  width: 1.7rem;
  background: var(--dark);
  border-radius: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: background 0.5s ease, -webkit-transform 0.3s ease;
  transition: background 0.5s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background 0.5s ease;
  transition: transform 0.3s ease, background 0.5s ease, -webkit-transform 0.3s ease;
}

.container .toggle .checkbox:checked + .content .label .ball {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
}

.container .toggle i {
  font-size: 1.2rem;
}

.container h1 {
  text-align: center;
  color: var(--light);
  text-transform: uppercase;
  margin: 0;
  padding-top: 85px;
}

.container h3 {
  text-align: center;
  color: var(--light);
  margin-top: 15px;
}

.container .icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .icons-wrapper img {
  width: 40px;
  margin: 0px 7px;
}

.container.footer {
  background-image: url("./assets/footer-pic.jpg");
  text-align: center;
}

.container.footer .btn {
  margin-top: 30px;
}

.container.footer .portfolio {
  color: var--(--dark);
}

.container.footer .portfolio-link {
  color: var(--light-trasparent);
}

.container.footer a {
  color: var--(--light-trasparent);
}

.container.footer h6 {
  color: var(--light-trasparent);
}

.profile-pic {
  text-align: center;
  margin: -127px 0px;
}

.profile-pic img {
  width: 250px;
}

.title {
  font-size: 30px;
  text-transform: uppercase;
  color: #45bfa4;
}

.about-me {
  background-color: var(--dark);
  text-align: center;
  padding: 123px 55px 30px;
  color: var(--light);
  -webkit-transition: background-color var(--transition-duration);
  transition: background-color var(--transition-duration);
}

.about-me h3 {
  color: #45bfa4;
  margin-top: 45px;
}

.about-me p {
  line-height: 23px;
}

.section {
  text-align: center;
  background-color: var(--dark-trasparent);
  padding: 40px 50px;
  color: var(--light);
  -webkit-transition: background-color var(--transition-duration);
  transition: background-color var(--transition-duration);
}

.section.bg-gray {
  background-color: var(--dark);
}

.section.bg-gray .btn-secondary {
  background-color: var(--dark-greeen);
}

.section p {
  margin: 40px 0;
}

.section .img-container {
  margin: 40px 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section .img-container img {
  width: 260px;
  margin: 8px;
  max-height: 500px;
}

@media (max-width: 577px) {
  .section .img-container img {
    width: 200px;
    max-height: 350px;
  }
  .section .img-container img.screenshots {
    display: none;
  }
}

.btn {
  background-color: #45bfa4;
  font-size: 15px;
  padding: 10px 45px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px;
  border-radius: 10px;
  min-width: 100px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  outline: none;
  -webkit-transition: background-color var(--transition-duration);
  transition: background-color var(--transition-duration);
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn-secondary {
  background-color: var(--dark);
}

.btn-secondary a {
  color: var(--light);
}

.btn:hover {
  -webkit-box-shadow: 0 5px 5px #00000040;
          box-shadow: 0 5px 5px #00000040;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body.light .container,
body.light .about-me {
  background-color: var(--light-trasparent);
  color: var(--dark);
}

body.light .section {
  background-color: var(--light-gray);
  color: var(--dark);
}

body.light .btn.btn-secondary {
  background-color: var(--dark-greeen);
}

body.light .btn a {
  color: white;
}

body.light .section.bg-gray {
  background-color: var(--light-trasparent);
}

body.light .container .nav a {
  color: white;
}

body.light .container h1,
body.light .container h3 {
  color: white;
}

body.light footer h1,
body.light footer h3,
body.light .container.footer h6,
body.light .container.footer .portfolio-link {
  color: white;
}
/*# sourceMappingURL=style.css.map */